.cabecalho_principal{
    background-image: url("/assets/imagens/Background.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}